.brand {
    font-family: 'Arvo';
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.player:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(255, 0, 10)
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.files li {
    list-style-type: none;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    margin-bottom: 4px;
}

.thumbnail {
    width: 260px;
    height: 225px;
}

.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

legend {
    font-family: 'Andika';
}

.home-hero {
    font-family: "Andika";
    font-size: 36;
    color: white;
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 180px;
    text-align : center;
    text-shadow:     -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;;
}

@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}


.home-hero .btn {
    font-family: "arvo";
    width: 160px;
    margin: 10px 4px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.controller li {
    list-style-type: none;
}


.play{left: 0px; width: 55px; height: 50px;}
.play{background:url('img/controls.png') -8px -6px;}

.pause{left: 0px; width: 55px; height: 50px;}
.pause{background:url('img/controls.png') -70px -6px;}

.stop{left: 0px; width: 55px; height: 50px;}
.stop{background:url('img/controls.png') -133px -6px;}

.forward{left: 0px; width: 55px; height: 50px;}
.forward{background:url('img/controls.png') -133px -180px;}

.backward{left: 0px; width: 55px; height: 50px;}
.backward{background:url('img/controls.png') -196px -180px;}

.volym_up{left: 0px; width: 55px; height: 50px;}
.volym_up{background:url('img/controls.png') -70px -357px;}

.volym_down{left: 0px; width: 55px; height: 50px;}
.volym_down{background:url('img/controls.png') -8px -357px;}

.volume{left: 0px; width: 55px; height: 50px;}
.volume{background:url('img/controls.png') -133px -357px;}
