<div class="browse" data-target=".navbar-fixed-top">

    <!-- featured-movie
    ================================================== -->
    <div class=featured-movie style="background-image: url('images/AqxuecX.jpg');">
        <!-- <div class="logo">
             Luriflix
        </div> -->
        <div class="bottom-bar">
            <div class="title-container"> <b>Luriflix</b></div>
<!--             <div class="right">
    <div class="star"></div>
</div> -->
        </div>
    </div>
        <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img class="navbar-brand" src="images/fox-logo-white.png">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                 <li><a href="#">Temp</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
               <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
              </form>
                <li><a href="#/profile"> <i class="glyphicon glyphicon-user"></i> {{user.displayName}}</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Poster Section -->
    <div class="posters container" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-2" ng-repeat="movie in movies">
                <a ui-sref="viewMovie({id:movie._id})" class="thumbnail">
                     <img src="https://image.tmdb.org/t/p/w396/{{movie.poster}}" class="img-responsive">
                </a>
            </div>

              <div class="col-xs-2" ng-repeat="tv in tvs">
                <a ui-sref="viewTV({id:tv._id})" class="thumbnail">
                     <img src="https://image.tmdb.org/t/p/w396/{{tv.poster}}" class="img-responsive">
                </a>
            </div>
         </div>
    </div>
</div>
