<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend><%= Title %></legend>
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="title" class="control-label">Title:</label>

                        <div class="controls">
                            <input type="text" id="Title" name="Title" value="<%= Title %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Year:</label>

                        <div class="controls">
                            <input type="text" id="Year" name="Year" value="<%= Year %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Rated:</label>

                        <div class="controls">
                            <input type="text" id="Rated" name="Rated" value="<%= Rated %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Released:</label>

                        <div class="controls">
                            <input type="text" id="Released" name="Released" value="<%= Released %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Runtime:</label>

                        <div class="controls">
                            <input type="text" id="Runtime" name="Runtime" value="<%= Runtime %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Genre:</label>

                        <div class="controls">
                            <input type="text" id="Genre" name="Genre" value="<%= Genre %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="title" class="control-label">Director:</label>

                        <div class="controls">
                            <input type="text" id="Director" name="Director" value="<%= Director %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">Writer:</label>

                        <div class="controls">
                            <input type="text" id="Writer" name="Writer" value="<%= Writer %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">Actors:</label>

                        <div class="controls">
                            <input type="text" id="Actors" name="Actors" value="<%= Actors %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="plot" class="control-label">Plot:</label>

                        <div class="controls">
                            <textarea id="plot" name="plot" style="width: 90%;" rows="6"><%= Plot
                                %></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">Poster:</label>

                        <div class="controls">
                            <input type="text" id="Poster" name="Poster" value="<%= Poster %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">imdbRating:</label>

                        <div class="controls">
                            <input type="text" id="imdbRating" name="imdbRating" value="<%= imdbRating %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">imdbVotes:</label>

                        <div class="controls">
                            <input type="text" id="imdbVotes" name="imdbVotes" value="<%= imdbVotes %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                     <div class="control-group">
                        <label for="actors" class="control-label">imdbID:</label>

                        <div class="controls">
                            <input type="text" id="imdbID" name="imdbID" value="<%= imdbID %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                            <p><img id="picture" width="180" src="<%= Poster === 'N/A' ? 'pics/generic.png' : 'pics/' + imdbID + '.png' %>"/></p>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
           <button type="button" class="btn btn-primary save">Save</button>
           <button type="button" class="btn delete">Delete</button>

        </div>
    </form>

        <form class="form-horizontal span12">

        <fieldset>

            <legend>Json</legend>
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                         <label for="json" class="control-label">If you want to change everything insert json data</label>
                        <div class="controls">
                            <textarea id="json" name="json" style="width: 90%;" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <button type="button" class="btn btn-primary save">Save</button>
        </div>
    </form>

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Movie saved successfully
        </div>
    </div>
</div>