<div class="row-fluid">

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Film Details</legend>
            <br/>

            <div class="row">
                <div class="span8">

                      <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= Title %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="director" class="control-label">Director:</label>

                        <div class="controls">
                            <input type="text" id="director" name="director" value="<%= Director %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                     <div class="control-group">
                        <label for="writer" class="control-label">Writer:</label>

                        <div class="controls">
                            <input type="text" id="writer" name="writer" value="<%= Writer %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="actors" class="control-label">Actors:</label>

                        <div class="controls">
                            <input type="text" id="actors" name="actors" value="<%= Actors %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="released" class="control-label">Released:</label>

                        <div class="controls">
                            <input type="text" id="released" name="released" value="<%= Released %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="genre" class="control-label">Genre:</label>

                        <div class="controls">
                            <input type="text" id="genre" name="genre" value="<%= Genre %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="runtime" class="control-label">Runtime:</label>

                        <div class="controls">
                            <input type="text" id="runtime" name="runtime" value="<%= Runtime %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="rating" class="control-label">Imdb Rating:</label>

                        <div class="controls">
                            <input type="text" id="rating" name="rating" value="<%= imdbRating %>"/>
                        </div>
                    </div>


                    <div class="control-group">
                        <label for="plot" class="control-label">Plot:</label>

                        <div class="controls">
                            <textarea id="plot" name="plot" style="width: 90%;" rows="6"><%= Plot
                                %></textarea>
                        </div>
                    </div>

                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                        <p><img id="picture" width="180" src="<%= Poster === 'N/A' ? 'pics/generic.png' : 'pics/' + imdbID + '.png' %>"/></p>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <button type="button" class="btn btn-primary start">Watch</button>
            <button type="button" class="btn pause">Pause</button>
            <button type="button" class="btn stop">Stop</button>
        </div>

    </form>

</div>
