
<div class="well">
    <div class="media" style="width: 50%; margin-left: auto; margin-right: auto">
      <div class="pull-left">
        <img class="media-object" src="<%= Poster === 'N/A' ? 'pics/generic.png' : 'pics/' + imdbID + '.png' %>" alt="...">
      </div>
      <div class="media-body" style="margin-left: 55%; margin-right: auto;">
        <h4 class="media-heading"><%= Title %></h4>
        <%= Year %> | <%= Runtime %> </br>
        <%= imdbRating %> | <%= imdbVotes %> </br>
        <%= Plot %>    
      </div>
    </div>
     <div style="clear: both; height: 0;"></div>
</div>
<div class="row-fluid">
  <div class="span4" style="width: 50%; margin: 0px auto;">
    <div class="files"></div>
  </div>
  <div class="span4">
    <h5>Director</h5>
    <%= Director %>
    <h5>Actors</h5>
    <% print(Actors.replace(/,/g, '</br>')) %>
    <h5>Genre</h5>
    <% print(Genre.replace(/,/g, '</br>')) %>
    <h5>Rated</h5>
    <%= Rated %>
  </div>
</div>
