 <script type="text/template" id="movie-list-template">
    <table class="table striped">
      <thead>
        <tr>
          <th>Poster</th><th>Title</th><th>Rating</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(movies, function(movie) { %>
          <tr>
            <td><img width="90" src=<%= htmlEncode(movie.get('value').Poster)%>></td>
            <td><%= htmlEncode(movie.get('value').Title) %></td>
            <td><%= htmlEncode(movie.get('value').imdbRating) %></td>
            <td><a class="btn" href="#/film/<%= movie.id %>">Details</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="detail-movie-template"> 
    <table class="table striped">
        <thead>
        <tr>
          <th>Title</th><th>Actors</th><th>Imdb Rating</th><th>Runtime</th><th>Director</th><th>Released</th><th>Plot</th><th>Genre</th><th></th>
        </tr>
      </thead>
      <tbody>
        <td> <%= htmlEncode(movie.get('Title')) %> </td>
        <td> <%= htmlEncode(movie.get('Actors')) %> </td>
        <td> <%= htmlEncode(movie.get('imdbRating')) %> </td>
        <td> <%= htmlEncode(movie.get('Runtime')) %> </td>
        <td> <%= htmlEncode(movie.get('Director')) %> </td>
        <td> <%= htmlEncode(movie.get('Released')) %> </td>
        <td> <%= htmlEncode(movie.get('Plot')) %> </td>
        <td> <%= htmlEncode(movie.get('Genre')) %> </td>
      </tbody
    </table>
    <button class="btn watch" type="button">Start</button>  
    <button class="btn stop" type="stop">Start</button>  
    <button class="btn pause" type="pause">Start</button>  
  </script>